
header.header
    .header-top
        .container.header-top-sub
            .logo
                img(src="https://cdn.shopvnb.com/themes/images/logo.svg")
            .hotline
                p
                    i.bi.bi-headset
                    | HOTLINE:
                    span  0333573303
            form.form-search(
                    action="/products/search"
                    method="get"
                )
                input(
                    type="text" 
                    placeholder="Tìm sản phẩm..."
                    name="keyword"
                    value=keyword
                )
                button
                    i.bi.bi-search
            .box-hea
                a(href="#")
                    span.box-icon
                        i.bi.bi-receipt-cutoff
                    span.item-title Tra cứu
                ul.box-hea-sub
                    li
                        a(href="#") Kiểm tra đơn hàng
                    li
                        a(href="#") Kiểm tra bảo hành
            .box-hea
                a(href="#")
                    span.box-icon
                        i.bi.bi-person-fill
                    span.item-title Tài khoản
                ul.box-hea-sub
                    li
                        a(href="#")
                            i.bi.bi-box-arrow-in-right
                            | Đăng nhập
                    li
                        a(href="#")
                            i.bi.bi-person-fill-add
                            | Đăng ký
            .box-hea
                a(href="#")
                    span.box-icon
                        i.bi.bi-heart-fill
                    span.item-title Yêu thích
            .box-hea
                a(href="/cart")
                    span.box-icon
                        i.bi.bi-cart-plus
                    span.item-title Giỏ hàng
                    span.minicart #{minicart}
            .button-consult
                button Tư vấn ngay
    nav.main-header
        .container
            ul.menu
                li
                    a(href="/") Trang chủ
                li
                    a(href="#") Giới thiệu
                li
                    a(href="/products") Sản phẩm 
                        i.fa-solid.fa-chevron-down
                    .box-sub-menu
                        .row
                            each item in allCategory
                                if item.children
                                    each childItem in item.children
                                        .col-2
                                            ul.sub-menu-head
                                                h3
                                                    a(href=`/products/${childItem.slug}`) #{childItem.title}
                                                hr
                                                if childItem.children
                                                    each itemChild in childItem.children
                                                        li
                                                            a(href=`/products/${itemChild.slug}`) #{itemChild.title}
                li
                    a(href="#") Sale off
                li
                    a(href="#") Chính sách nhượng quyền
                li
                    a(href="#") Hướng dẫn 
                        i.fa-solid.fa-chevron-down
                li
                    a(href="#") Tin tức
                li
                    a(href="#") Liên hệ