extends ../../layouts/default.pug
block main
    .main
        h2
            .title-page #{pageTitle}
        form(
            action=`/${prefixAdmin}/roles/create`
            method="POST"
        )
            div(class="mb-3")
                label(for="title" class="label-title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                )
            div(class="mb-3")
                label(for="desc" class="label-title") Mô tả
                input(
                    type="text"
                    class="form-control"
                    id="desc"
                    name="description"
                )
            div(class="mb-3")
                button(
                    type="submit"
                    class="btn bg-main px-5"
                ) Tạo mới