extends ../../layouts/default.pug
block main
    .main
        h2
            .title-page #{pageTitle}
        .row.justify-content-center
            .col-6
                form(
                    action=`/${prefixAdmin}/roles/create`
                    method="POST"
                )
                    div(class="mb-3")
                        label(for="title" class="label-title") Tên nhóm quyền
                        input(
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            required
                        )
                    div(class="mb-3")
                        label(for="desc" class="label-title") Mô tả
                        input(
                            type="text"
                            class="form-control"
                            id="desc"
                            name="description"
                        )
                    div(class="mb-3 d-grid gap-2")
                        button(
                            type="submit"
                            class="btn bg-main px-5"
                        ) Tạo mới