extends ../../layouts/auth.pug
block main
    .container.my-5
        h2
            .title-page #{pageTitle}
        .row.justify-content-center
            .col-6
                form(
                    action=`/${prefixAdmin}/auth/login`
                    method="POST"
                )
                    div(class="mb-3")
                        label(for="email" class="lable-title") Email
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                        )
                    div(class="mb-3")
                        label(for="password" class="lable-title") Mật khẩu
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                        )
                    div(class="mb-3 d-grid gap-2")
                        button(
                            type="submit"
                            class="btn bg-main px-5"
                        ) Đăng nhập