extends ../../layouts/default.pug
include ../../mixins/product-item.pug
block main
    .container.my-3
        .box-search
            h2 #{pageTitle}
        .list-search
            each item in product
                +product-item(item)

        .page-panigation
                        nav(class="" aria-label="Page navigation example")
                            ul(class="pagination")
                                if(currentPage > 1)
                                    li(class="page-item")
                                        button(class="page-link" button-pagination=currentPage-1) &laquo;
                                - for (var i = 1; i <= totalPage; i++)
                                    li(class="page-item")
                                        button(class="page-link" button-pagination=i) #{i}
                                if(currentPage < totalPage)
                                    li(class="page-item")
                                        button(class="page-link" button-pagination=currentPage+1) &raquo;