extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
    .container.my-3
        +box-head("Đặt hàng")
        if(products.length > 0)
            .table-cart.my-5
                .row.table-main
                    .col-1 
                        .title-table STT 
                    .col-1
                        .title-table Hình ảnh 
                    .col-5 
                        .title-table Tên sản phẩm
                    .col-2 
                        .title-table Giá 
                    .col-1 
                        .title-table Số lượng 
                    .col-2 
                        .title-table Thành tiền 
                .row
                    each item, index in products
                        .row.table-list
                            .col-1 #{index + 1}
                            .col-1
                                img(src=item.thumbnail, alt=item.title width="80px") 
                            .col-5 
                                .title-table 
                                    a #{item.title}
                            .col-2 #{Number(item.priceNew).toLocaleString('vi-VN')} đ
                            .col-1 #{item.quantity}
                            .col-2 #{Number(item.total).toLocaleString('vi-VN')} đ
                .row
                    .table-total
                        .totle-title Tổng tiền: 
                        .totle-title #{total.toLocaleString('vi-VN')} đ
            .row
                .col-12
                    .card.p-4.my-4
                        h3.my-4
                            .heading THÔNG TIN NHẬN HÀNG
                        form(
                            action="/order"
                            method="POST"
                        )
                            .form-group
                                input(
                                    class="form-control"
                                    name="fullName"
                                    id="fullName" 
                                    type="text" 
                                    placeholder="Họ & Tên"
                                    required
                                    )
                                label(for="fullName")
                                    i.fa-solid.fa-user
                                span.form-message
                            .form-group
                                input(
                                    class="form-control"
                                    name="email"
                                    id="email"
                                    type="text" 
                                    placeholder="Email"
                                    required
                                    )
                                label(for="email")
                                    i.fa-solid.fa-envelope
                                span.form-message
                            .form-group
                                input(
                                    class="form-control"
                                    name="phone"
                                    id="phone"
                                    type="text" 
                                    placeholder="Số điện thoại")
                                label(for="phone")
                                    i.fa-solid.fa-phone
                                span.form-message
                            .form-group
                                input(
                                    class="form-control"
                                    name="address"
                                    id="address"
                                    type="text" 
                                    placeholder="Địa chỉ")
                                label(for="address")
                                    i.fa-solid.fa-location-dot
                                span.form-message
                            div(class="form-group")
                                button(
                                    type="submit"
                                    class="btn bg-main"
                                ) ĐẶT HÀNG