extends ../../layouts/default.pug
block main
    .container.my-3
        .page-payment
            .check-payment
                i.fa-regular.fa-circle-check
            .payment-title
                h3 Đặt hàng thành công!
                p Chúng tôi sẽ liên hệ Quý khách để xác nhận đơn hàng trong thời gian sớm nhất!
            .act-payment
                a.act-payment-detail(href="#") Xem chi tiết đơn hàng
                a.continue-shopping(href="/Products") Tiếp tục mua hàng
        if(order)
            .row
                .col-12
                    h3.my-2
                        .heading THÔNG TIN NHẬN HÀNG
                    table(class="table table-bordered")
                        tbody
                            tr
                                td Họ tên
                                td
                                    b #{order.fullName}
                            tr
                                td Email
                                td
                                    b #{order.email}
                            tr
                                td Số điện thoại
                                td
                                    b #{order.phone}
                            tr
                                td Địa chỉ
                                td
                                    b #{order.address}
            .row
                .col-12
                    if(order.products.length > 0)
                        .table-cart.my-5
                            h3.my-2
                                .heading THÔNG TIN SẢN PHẨM
                            .row.table-main
                                .col-1 
                                    .title-table STT 
                                .col-1
                                    .title-table Hình ảnh 
                                .col-5 
                                    .title-table Tên sản phẩm
                                .col-2 
                                    .title-table Giá 
                                .col-1 
                                    .title-table Số lượng 
                                .col-2 
                                    .title-table Thành tiền 
                            .row
                                each item, index in order.products
                                    .row.table-list
                                        .col-1 #{index + 1}
                                        .col-1
                                            img(src=item.thumbnail, alt=item.title width="80px") 
                                        .col-5 
                                            .title-table 
                                                a #{item.title}
                                        .col-2 #{Number(item.priceNew).toLocaleString('vi-VN')} đ
                                        .col-1 #{item.quantity}
                                        .col-2 #{Number(item.total).toLocaleString('vi-VN')} đ
                            .row
                                .table-total
                                    .totle-title 
                                        h3 Tổng tiền đơn hàng: #{total.toLocaleString('vi-VN')} đ