extends ../../layouts/trash.pug
block main 
    .main
        if (role.permissions.includes("trash_view"))
            h2
                .title-page #{pageTitle}    
            .card 
                .card-header
                        .row
                            .col-8
                                h3
                                    | Danh sách sản phẩm
                .card-body
                    table.table.table-hover.table-sm
                        thead
                            tr
                                th
                                th STT
                                th Hình ảnh
                                th Tên sản phẩm
                                th Giá
                                th Trạng thái
                                th Xóa bởi
                                th Hành động
                        tbody
                            
                            each item, index in products
                                tr 
                                    td
                                        input(
                                        type="checkbox"
                                        input-change=item.id
                                        )
                                    td #{index + 1}
                                    td
                                        img(
                                            src=item.thumbnail
                                            alt=item.title
                                            width="100px"
                                            height="auto"
                                        )
                                    td 
                                        a(class="a-title-link"
                                            href=`/${prefixAdmin}/products/detail/${item.id}`
                                            ) #{item.title} 
                                    td #{Number(item.price).toLocaleString('vi-VN')} đ
                                    td
                                        if (role.permissions.includes("products_edit"))
                                            if (item.status == "active")
                                                button(
                                                    item-id=item.id
                                                    button-change-status="inactive"
                                                    data-path=`/${prefixAdmin}/products/change-status`
                                                    class="btn-status bg-success"
                                                ) Hoạt động
                                            else if (item.status == "inactive")
                                                button(
                                                    item-id=item.id
                                                    button-change-status="active"
                                                    data-path=`/${prefixAdmin}/products/change-status`
                                                    class="btn-status bg-danger"
                                                ) Dừng hoạt động
                                    td
                                        div #{item.deletedByFullName}
                                        div #{item.deletedAtFormat}
                                    td
                                        if (role.permissions.includes("trash_restore"))
                                            button(
                                                    class="btn btn-warning btn-sm me-1"
                                                    item-id=item.id
                                                    button-restore
                                                    data-path=`/${prefixAdmin}/trash/restore`
                                            ) Khôi phục
                                        if (role.permissions.includes("trash_delete"))
                                            button(
                                                class="btn btn-danger btn-sm"
                                                item-id=item.id
                                                button-deletePermanently
                                                data-path=`/${prefixAdmin}/trash/delete`
                                            ) Xóa 

                .page-panigation
                    nav(class="" aria-label="Page navigation example")
                        ul(class="pagination")
                            if(currentPage > 1)
                                li(class="page-item")
                                    button(class="page-link" button-pagination=currentPage-1) &laquo;
                            - for (var i = 1; i <= totalPage; i++)
                                li(class="page-item")
                                    button(class="page-link" button-pagination=i) #{i}
                            if(currentPage < totalPage)
                                li(class="page-item")
                                    button(class="page-link" button-pagination=currentPage+1) &raquo;
