extends ../../layouts/default.pug
include ../../mixins/product-item.pug
include ../../mixins/box-head.pug
block main
    .container.my-3
        +box-head("Giỏ hàng")
        if(products.length > 0)
            div(
                class="table-cart.my-5"
                table-cart
                )
                .row.table-main
                    .col-1 
                        .title-table STT 
                    .col-1
                        .title-table Hình ảnh 
                    .col-4 
                        .title-table Tên sản phẩm
                    .col-2 
                        .title-table Giá 
                    .col-1 
                        .title-table Số lượng 
                    .col-2 
                        .title-table Thành tiền 
                    .col-1
                        .title-table Hành động 
                .row
                    each item, index in products
                        .row.table-list
                            .col-1 #{index + 1}
                            .col-1
                                img(src=item.thumbnail, alt=item.title width="80px") 
                            .col-4 
                                .title-table 
                                    a(href=`/products/detail/${item.slug}`) #{item.title}
                            .col-2 #{item.priceNew} đ
                            .col-1 
                                input(
                                    type="number"
                                    name="quantity"
                                    value=item.quantity
                                    min="1"
                                    item-id=item.productId
                                    style="width: 60px"
                                        ) 
                            .col-2 #{item.total} đ
                            .col-1
                                a(
                                    href=`/cart/delete/${item.productId}`
                                    class="btn btn-danger"
                                    )
                                        i.bi.bi-trash
                .row
                    .table-total
                        .totle-title Tổng tiền: 
                        .totle-title #{total.toLocaleString()} đ
                div(class="btn-oder")
                    a(href="/order" class="btn bg-main") THANH TOÁN
        else
            .cart-none
                i.bi.bi-bag-x
                p Không có sản phẩm nào trong giỏ hàng của bạn
                a(href="/" class="btn bg-main") Trang chủ