extends ../../layouts/default.pug
block main
    .container
        .login-form-list
            form(
                action="/user/password/otp"
                method="POST"
                )
                .form
                    h3
                        .heading #{pageTitle}
                    .form-group
                        input(
                            class="form-control"
                            name="email"
                            id="email"
                            type="text" 
                            placeholder="Email"
                            required
                            readonly
                            value=email
                            )
                        label(for="email")
                            i.fa-solid.fa-envelope
                        span.form-message
                    .form-group
                        input(
                            class="form-control"
                            name="otp"
                            id="otp"
                            type="text" 
                            placeholder="Mã OTP"
                            required
                            )
                        label(for="otp")
                            i.fa-solid.fa-envelope
                        span.form-message
                    button.form-submit(type="submit") Xác thực
                    .tab.display-flex
                        p Bạn đã nhớ mật khẩu?
                        a(href="/user/login") Đăng nhập ngay