extends ../../layouts/default.pug
block main
    .main
        if (role.permissions.includes("blogs-category_create"))
            h2
                .title-page #{pageTitle}
            form(
                action=`/${prefixAdmin}/blogs-category/create`
                method="POST"
            )
                div(class="mb-3")
                    label(for="title" class="label-title") Tên danh mục
                    input(
                        type="text"
                        class="form-control"
                        id="title"
                        name="title"
                        required
                    )
                div(class="mb-3")
                    label(for="parent_id" class="label-title") Danh mục cha
                    select(
                        class="form-control"
                        id="parent_id"
                        name="parent_id"
                    )
                        option(value="") -- Chọn danh mục --
                        each item in listBlogCategory
                            option(value=item.id) #{item.title}
                div(class="mb-3")
                    label(for="desc" class="label-title") Mô tả
                    textarea(
                        type="text"
                        class="form-control"
                        id="desc"
                        name="description"
                        rows="40"
                        textarea-mce
                    )
                div(class="mb-3")
                    label(for="position" class="label-title") Vị trí
                    input(
                        type="number"
                        class="form-control"
                        id="position"
                        name="position"
                        placeholder="Tự động tăng"
                        min="1"
                    )
                div(class="mb-3 form-check form-check-inline")
                    input(
                        type="radio"
                        class="form-check-input"
                        id="statusActive"
                        name="status"
                        value="active"
                        checked
                    )
                    label(for="statusActive" class="form-check-label") Hoạt động
                div(class="mb-3 form-check form-check-inline")
                    input(
                        type="radio"
                        class="form-check-input"
                        id="statusInActive"
                        name="status"
                        value="inactive"
                    )
                    label(for="statusInActive" class="form-check-label") Dừng hoạt động
                div(class="mb-3")
                    button(
                        type="submit"
                        class="btn px-5 bg-main"
                    ) Tạo mới