form(form-search)
    .input-group
        input(
            type="text"
            placeholder="Nhập từ khóa"
            name="keyword"
            class="form-control"
        )
        .input-group-append
            button(
                class="btn btn-main-color"
                type="submit"
            ) Tìm