

.navigation
    ul
        li
            a(href="#")
                span.icon
                    i.fa-solid.fa-house
                span.title Trang quản trị
        if (role.permissions.includes("dashboard_view"))
            li  
                a(href=`/${prefixAdmin}/dashboard`)
                    span.icon 
                        i.bi.bi-clipboard-data
                    span.title Tổng quan
        li
            a.sub-btn
                span.icon 
                    i.fas.fa-table
                span.title  Sản phẩm
                    i.fa-solid.fa-chevron-down.dropdown
            .sub-menu
                if (role.permissions.includes("products-category_view"))
                    a.sub-item(href=`/${prefixAdmin}/products-category`) Danh mục sản phẩm
                if (role.permissions.includes("products_create"))
                    a.sub-item(href=`/${prefixAdmin}/products/create`) Thêm mới sản phẩm
                if (role.permissions.includes("products_view"))
                    a.sub-item(href=`/${prefixAdmin}/products`) Danh sách sản phẩm
        li
            a.sub-btn
                span.icon 
                    i.fa-solid.fa-users
                span.title  Khách hàng
                    i.fa-solid.fa-chevron-down.dropdown
            .sub-menu
                if (role.permissions.includes("products-category_view"))
                    a.sub-item(href=`#`) danh sách khách hàng
                if (role.permissions.includes("products_create"))
                    a.sub-item(href=`#`) Bình luận
                if (role.permissions.includes("products_view"))
                    a.sub-item(href=`#`) Liện hệ
        li
            a.sub-btn
                span.icon 
                    i.fa-solid.fa-newspaper
                span.title  Bài viết
                    i.fa-solid.fa-chevron-down.dropdown
            .sub-menu
                if (role.permissions.includes("products-category_view"))
                    a.sub-item(href=`#`) Danh mục bài viết
                if (role.permissions.includes("products_create"))
                    a.sub-item(href=`#`) Thêm mới bài viết
                if (role.permissions.includes("products_view"))
                    a.sub-item(href=`#`) Danh sách bài viết
        li
            a.sub-btn
                span.icon 
                    i.fa-solid.fa-gear
                span.title Cài đặt chung
                    i.fa-solid.fa-chevron-down.dropdown
            .sub-menu
                a.sub-item(href=`/${prefixAdmin}/settings/general`) Thông tin website
                if (role.permissions.includes("roles_view"))
                    a.sub-item(href=`/${prefixAdmin}/roles`) Nhóm quyền
                if (role.permissions.includes("roles_permissions"))  
                    a.sub-item(href=`/${prefixAdmin}/roles/permissions`) Phân quyền
                if (role.permissions.includes("accounts_view")) 
                    a.sub-item(href=`/${prefixAdmin}/accounts`) Tài khoản
        li
            a(href=`/${prefixAdmin}/trash`)
                span.icon 
                    i.bi.bi-trash-fill
                span.title Thùng rác
        li
            a(
                href=`/${prefixAdmin}/auth/logout`
                lass="btn btn-danger btn-sm"
                )
                span.icon 
                    i.bi.bi-box-arrow-in-left
                span.title Đăng xuất