

.navigation
    ul
        li
            a(href="#")
                span.icon
                    i.fa-solid.fa-house
                span.title Trang quản trị
        li
            a(href=`/${prefixAdmin}/dashboard`)
                span.icon 
                    i.bi.bi-clipboard-data
                span.title Tổng quan
        li
            a.sub-btn
                span.icon 
                    i.fas.fa-table
                span.title  Sản phẩm
                    i.fa-solid.fa-chevron-down.dropdown
            .sub-menu
                a.sub-item(href=`/${prefixAdmin}/products-category`) Danh mục sản phẩm
                a.sub-item(href=`/${prefixAdmin}/products/create`) Thêm mới sản phẩm
                a.sub-item(href=`/${prefixAdmin}/products`) Danh sách sản phẩm
        li
            a(href=`/${prefixAdmin}/trash`)
                span.icon 
                    i.bi.bi-trash-fill
                span.title Thùng rác
        li
            a(href=`/${prefixAdmin}/roles`)
                span.icon 
                    i.bi.bi-trash-fill
                span.title Nhóm quyền
        